<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Who is Tyler Durden?</h1>
    <p>(Benjamin Dean)</p>
    <p>Information about the candidate for the Developer Advocate role at Weebly</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>As a Person</h2>
      <p>I am a 43 year old Piscean born in Indianapolis, a husband of 18 years, a father of two great young adults, an artist, musician, nature-lover, tinkerer, people watcher, foodie, and lover of desk toys! I speak fluent English, basic Spanish, Japanese, French, German, and cordialities in Russian and Italian.</p>
      <p><a class="btn btn-default" href="https://www.facebook.com/bdeanindy" role="button">View on Facebook &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>As a Professional</h2>
      <p>In my youth, I have been: a chef, a construction worker, an artist, and a bartender. I went to Purdue University and have a B.S. in Mechanical Engineering Technology which was completed in 2005. I ran my own company for about six years, reaching 15 staff and $1M annual gross revenue. I sold my company to partners when my kids told me they thought I loved my work more than them, and I became a FT adjunct instructor at the Art Institute of Indianapolis (for 2 years). After that, I entered enterprise software development which evolved into becoming a Developer Advocate. As an DevAdvocate, I have successfully lifted off 4 different platforms, with community growth nearing the aggregated million mark.</p>
      <p><a class="btn btn-default" href="https://www.linkedin.com/in/bdeanindy/" role="button">View on LinkedIn &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>As a Developer</h2>
      <p>I have been writing code since 1999, and began with just HTML in ViM (yes, I still use ViM as my IDE daily...and I love it). Eventually my work evolved into using CSS, and full LAMP stack development, then into Flash/ActionScript/Flex app development. Since 2010, I have been working almost exclusively with JS/Node.js, although I can read and write many other languages.</p>
      <p><a class="btn btn-default" href="https://github.com/bdeanindy" role="button">View on Github &raquo;</a></p>
    </div>
  </div>
