<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Challenges</h1>
    <p>Hurdles I faced while developing my interview project.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>As a Developer</h2>
      <ul>
        <li>Weebly Architecture (Reseller/User)</li>
        <li>OAuth in Cloud API (Reseller)</li>
        <li>PHP Docs (README)</li>
        <li>Reseller API Node.js SDK</li>
        <li>Dashboard Card Builder</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Docs</h2>
      <ul>
        <li>Time to First Accomplishment</li>
        <li>Weebly nomenclature VS industry standards</li>
        <li>Error Codes</li>
        <li>Disconnected</li>
        <li>Lack of Business Focus</li>
      </ul>
   </div>
    <div class="col-md-4">
      <h2>Code/Integration</h2>
      <ul>
        <li>Unique Reseller API Auth/Signing</li>
        <li>Reference for Major Use Cases</li>
        <li>Live API Console</li>
        <li>Best Practices</li>
        <li>Security and Best Practices</li>
      </ul>
    </div>
  </div>
