<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Contact {{candidateName}}!</h1>
    <p><a class="btn btn-primary btn-lg" href="https://twitter.com/bdeanindy" role="button">On Twitter @bdeanindy &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Voice/SMS</h2>
      <p><a href="tel:+14158905908">Call or Text Benjamin</a>. </p>
    </div>
    <div class="col-md-4">
      <h2>Email</h2>
      <p><a href="mailto:benjamin@benjamindean.com">Email Benjamin</a></p>
   </div>
    <div class="col-md-4">
      <h2>Telepathy</h2>
      <p>WIP</p>
    </div>
  </div>
