<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello Team {{companyName}}!</h1>
    <h3>Welcome to {{title}}</h3>
    <p><a class="btn btn-primary btn-lg" href="http://developer-advocate-project.weebly.com/requirements.html" role="button">Project Requirements &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>What is a Developer Advocate?</h2>
      <p>Developer Advcates developers passionate about making other developers successful!</p>
      <p>What a Developer Advocate Does:
        <ul>
            <li>Engage daily with developers (internal/external)</li>
            <li>Author code to simplify developer's lives</li>
            <li>Author content that scales</li>
            <li>Supports developers, but are not Support</li>
            <li>Attends/Speaks at developer events</li>
            <li>Influences product and engineering teams</li>
        </ul>
      </p>
      <p><a class="btn btn-default" href="http://blog.phymata.com/2012/12/28/what-is-a-developer-advocate/" role="button">Learn More &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Measuring Developer Advocate Success</h2>
      <p>This varies from business to business.</p>
      <p><strong>Dominant Metrics</strong></p>
      <ul>
        <li>Analytics</li>
        <li>Community Growth</li>
        <li>Increased API Volume</li>
        <li>Community Strength</li>
      </ul>
      <p><a class="btn btn-default" href="https://blog.reybango.com/2015/05/14/measuring-success-in-developer-relations/" role="button">Learn how others measure success in DevRel &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Notable Developer Advocates</h2>
      <p>Here are some other notable Developer Advocates you may know....</p>
      <ul>
        <li><a href="https://twitter.com/paul_irish">Paul Irish</a></li>
        <li><a href="https://twitter.com/addyosmani">Addy Osmani</a></li>
        <li><a href="https://twitter.com/mhartington">Mike Hartington</a></li>
        <li><a href="https://twitter.com/beardigsit">Bear Douglas</a></li>
      </ul>
    </div>
  </div>
