<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Opportunities</h1>
    <p>Based on the Challenges, what is the industry doing, where can Weebly innovate and/or resolve the challenges.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>As a Developer</h2>
      <ul>
        <li>Clearly Differentiate Reseller and User</li>
        <li>Standardize OAuth</li>
        <li>Self-Serve Client Library README.md</li>
        <li>Node SDK Benefits</li>
        <li>Streamline Dashboard Card Development</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Docs</h2>
      <ul>
        <li>Zero-to-Hero (in under 30 minutes)</li>
        <li>Standardize nomenclature can increase adoption rates</li>
        <li>Broaden Error Code Usage, and include link to Actions</li>
        <li>Flush/Purge Docs Regularly</li>
        <li>Use Case Driven Examples</li>
      </ul>
   </div>
    <div class="col-md-4">
      <h2>Code/Integration</h2>
      <ul>
        <li>Reduce support cases with industry standards</li>
        <li>Provide Use-Case Driven Code Examples</li>
        <li>Let Developers Try Before They Buy</li>
        <li>Risk Aversion for Weebly</li>
        <li>Increase Confidence</li>
      </ul>
    </div>
  </div>
