<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Reflection</h1>
    <p>My thoughts on this experience.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>As a Developer</h2>
      <ul>
        <li>Room for Improvement</li>
        <li>Opportunity for Growth</li>
        <li>Delightfully Engaging</li>
        <li>Passionate Teammates</li>
        <li>Learning/Teaaching Opportunity</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>As an Advocate</h2>
      <ul>
        <li>Role Should Be Senior</li>
        <li>Needs are Clear</li>
        <li>Needs ROI Clarity</li>
        <li>SEO Needs Work</li>
        <li>Unsure of Current Efforts</li>
      </ul>
   </div>
    <div class="col-md-4">
      <h2>As a Person</h2>
      <ul>
        <li>Love the People</li>
        <li>Love the Location</li>
        <li>Love the Space</li>
        <li>Love the Vibe</li>
        <li>Excited about Weebly</li>
      </ul>
    </div>
  </div>
